<p> Contents in level 1 app</p>

<h4> 3.Experiments with $event</h4>
<h5> A</h5>
<input type="text" class = "form-control" (input) = "onUpdate($event)" id="">
<h3>City entered {{ enterCity }}</h3>
<hr>

<h5> B</h5>
<Button class="btn btn-primary" (click)= "onClickOne()">Click Me!</Button> 
<p> {{ clickMessage }}</p>
<hr>
<h5> C</h5>
<h4> Key up Events</h4>

<input type="text" class="form-control" (keyup)="onKey($event)">

<p>{{values}}</p>

<p> Guide used: https://angular.io/guide/user-input</p>
<hr>
<h4>Assignment 4</h4>
<button class="btn btn-success" (click) ="showSecret = !showSecret">Display Details</button>
<p *ngIf= "showSecret">Secret Password = XYZ</p>
<p> Logging the clicks on the buttion</p>
<button class="btn btn-primary" (click) ="logDetails()">Log Details in console</button>
<div 
  *ngFor = "let logItem of log"
  >{{ logItem }}
</div>
